<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>  
    <script   src="https://code.jquery.com/jquery-1.11.1.min.js"   integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="   crossorigin="anonymous"></script>    
  </head>
  <body>  
	  <br>
	  <!-- <form action="/onPayment" method = "post">
	  Credit card number: <input id = "creditcardnum" name = "credicardnum"/>
	  Expiraion Date: <input id = "month" name = "month"/><input id = "year" name = "year" />
	  <br>CVV Number: <input id = "cvv" name = "cvv" />
	  <br>
	  <input type = "submit" value = "submit">
	  </form> -->
	  <div class="container">
	  <form class="form-horizontal" action="/onPayment" method = "post" role="form">
	    <fieldset>
	      <legend>Payment</legend>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
	        <div class="col-sm-9">
	          <input type="text" class="form-control" name="cardholdername" id="card-holder-name" placeholder="Card Holder's Name"><label  for="card-holder-name"><font color="red"><%= cardnameerr %></font></label>
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
	        <input name = "test" type="text" value = "test" style="display: none" >
	        <div class="col-sm-9">
	          <input type="text" class="form-control" name="cardnumber" id="card-number" placeholder="Debit/Credit Card Number"><label  for="card-holder-name"><font color="red"><%= cardnumerr %></font></label>
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
	        <div class="col-sm-9">
	          <div class="row">
	            <div class="col-xs-3">
	              <select class="form-control col-sm-2" name="expirymonth" id="expiry-month">
	                <option>Month</option>
	                <option value="01">Jan (01)</option>
	                <option value="02">Feb (02)</option>
	                <option value="03">Mar (03)</option>
	                <option value="04">Apr (04)</option>
	                <option value="05">May (05)</option>
	                <option value="06">June (06)</option>
	                <option value="07">July (07)</option>
	                <option value="08">Aug (08)</option>
	                <option value="09">Sep (09)</option>
	                <option value="10">Oct (10)</option>
	                <option value="11">Nov (11)</option>
	                <option value="12">Dec (12)</option>
	              </select><label  for="card-holder-name"><font color="red"><%= invaliddate %></font></label>
	            </div>
	            <div class="col-xs-3">
	              <select class="form-control" name="expiryyear">
	                <option value="13">2013</option>
	                <option value="14">2014</option>
	                <option value="15">2015</option>
	                <option value="16">2016</option>
	                <option value="17">2017</option>
	                <option value="18">2018</option>
	                <option value="19">2019</option>
	                <option value="20">2020</option>
	                <option value="21">2021</option>
	                <option value="22">2022</option>
	                <option value="23">2023</option>
	              </select>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
	        <div class="col-sm-3">
	          <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code"><label  for="card-holder-name"><font color="red"><%= invalidcvv %></font></label>
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-offset-3 col-sm-9">
	          <button type="submit" class="btn btn-success">Pay Now</button>
	        </div>
	      </div>
	    </fieldset>
	  </form>
	</div>
  </body>
</html>